#home-logo {
    width: 70px;
    height: auto;
    cursor: pointer;
}
#github {
    cursor: pointer;
    width: 70px;
    height: auto;
}
#instrument-selection {
    cursor: pointer;
}
.rung {
    width: 70px;
    height: 200px;
    background: brown;
    margin: 2px;
}
#instrument-board {
    display: flex;
    position: relative;
}
.hidden {
    display: none
}
/* body {
    background-color: black;
} */
.scale-type button:disabled {
    background-color: aqua;
    box-shadow: none;
    transform: translateY(1px);
}
#header {
    visibility: hidden;
}
.selected {
    background: yellow;
}
.accidental {
    
}